@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1,
h2,
h3 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    float: right;
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#hero-outer {
    height: 450px;
    width: 100%;
    overflow: hidden;

    position: relative;

    outline: 3px solid red;
}

#hero-image {
    height: 450px;
    width: 100%;
    background: url('../images/hero-image\ 2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;

}

    /* animates zoom effect on loading page */
    /*animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;*/

/* creates the level of zoom for hero image */
/*@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}*/

#cover-text h3 {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: black;
    letter-spacing: 4px;

    width: 750px;
    height: 70px;

    background-color: rgba(200, 200, 200, .6);

    padding: 5px 5px;
    bottom: 100px;
    left: 20px;

    position: absolute;
}

#classes {

}

#classes div {
    float: left;
    height: 200px;
    width: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
    box-sizing: border-box;
    border: solid 4px white;

    position: relative;
}

#classes h2 {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: greenyellow;
    letter-spacing: 4px;

    padding: 5px 5px;

    /*background-color: rgba(200, 200, 200, .6);*/

    
    top: 0px;
    right: 0px;
}

#classes p {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: silver;
    letter-spacing: 4px;

    padding: 5px 5px;

    /*background-color: rgba(236, 13, 13, 0.6);*/

    
    bottom: 0px;
    position: absolute;
    
    
}

#machine {
    background-image: url(../images/machine\ pilates.jpeg);
    
}

#mat {
    background-image: url(../images/floor\ pilates.jpeg);
    
    
}

#prenatal {
    background-image: url(../images/prenatal\ pilates.jpeg);
    
}

#couple {
    background-image: url(../images/couples1.jpeg);  
}


#float {
    position: relative;
    border: 3px solid #fff;
    padding: 20px;
    
}

.float-child {
    position: absolute;
    float: left;
    height: 200px;
    width: 33%;
    padding: 20px;
    border: 2px solid red;
    
}  